.sidebar {
  width: 200px;
  background-color: var(--sidebar-bg);
  height: calc(100vh - 56px);
  padding: 12px;
  border-right: 1px solid var(--border-color);
  overflow-y: auto;
  transition: width 0.3s ease;
  flex-shrink: 0;
  position: sticky;
  top: 56px;
}

.sidebar.closed {
  width: 72px;
}


.sidebar-item.small span {
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar-section {
  margin-bottom: 8px;
}

.sidebar-section h3 {
  font-size: 16px;
  color: var(--secondary-text-color);
  padding: 8px 12px;
}

.sidebar-item {
  display: flex;
  align-items: center;
  padding: 10px 12px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
  color: var(--text-color);
}

.sidebar-item:hover {
  background-color: var(--hover-bg);
}

.sidebar-item i {
  font-size: 22px;
  margin-right: 16px;
}

.sidebar-item span {
  font-size: 14px;
  white-space: nowrap;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.sidebar.closed .sidebar-item span {
  opacity: 0;
  width: 0;
  overflow: hidden;
}

.sidebar hr {
  border: none;
  border-top: 1px solid var(--border-color);
  margin: 8px 0;
}